*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: rgba(0, 0, 0, 0.308);
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20210929/pngtree-silver-gray-abstract-background-image_908409.png);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 90px;
    height: 80px;
    margin-top: 20px;
}
nav ul{
    margin-left: 500px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  

}
nav ul li a{
    color: rgba(0, 0, 0, 0.938);
    text-decoration: none;
    font-size: 16px;
    position: relative;
}
nav ul li a::after{
    content: '';
    height: 3px;
    width: 0%;
    background: rgba(17, 16, 16, 0.582);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.801);
}
.header-text h1{
    font-size: 50px ;
    margin-top: 20px;
    color: black;
}
.header-text h1 span{
    color: rgba(0, 0, 0, 0.575);
    font-size: 70px;
}
/*-------- about--------- */
#about{
    padding: 50px 0;
    color: rgba(31, 29, 29, 0.842);
}
#about p{
    color: black;
    font-size: 15px;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgba(17, 16, 16, 0.582);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    margin: 10px 0;
    color: black;
    
}
.tab-contents ul li span{
    color: rgba(31, 29, 29, 0.747);
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/* ----------------services ------------------ */
#services{
    padding: 40px 0;
    color: rgba(31, 29, 29, 0.842);
    margin-left: 130px;
    margin-right: 30px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    color: rgba(0, 0, 0, 0.747);
}
.services-list div{
    background: rgba(0, 0, 0, 0.233);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 30px;
    margin-bottom: 20px;
}
.services-list div h2{
    font-size: 30px;
    margin-bottom: 15px;
}
.services-list div p{
    font-size: 15px;
    color: black;
}
.services-list div:hover{
    background: rgba(0, 0, 0, 0.572);
    transform: translateY(-20px);
}
/* -----------protfolio---------- */
#protfolio{
    color: rgba(31, 29, 29, 0.842);
    padding: 40px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    color: rgba(0, 0, 0, 0.747);
}
.work{
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    height: 240px;
    border-radius: 20px;
    display: block;
    transition: transform 0.5s;
}
.work1 img{
    width: 100%;
    border-radius: 20px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(black , rgba(255, 255, 255, 0.771) );
    border-radius: 20px;
    position: absolute;
    left: 100;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size:  17px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 700;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.389);
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
/* ------contact------- */
#contact{
    color: rgba(31, 29, 29, 0.842);
    padding: 40px 0;
}
.contact-left{
    flex-basis: 35%
}
.contact-right{
    flex-basis: 60%;
    margin-left: 500px;
    margin-top: -300px;
}
.contact-left p{
    margin-top: 20px;
    color: black;
}
.social-icons{
    margin-top: 20px;
}
.contact-left p i{
    margin-right: 20px ;
}
#icon{
    color: rgba(31, 29, 29, 0.842);
    font-size: 20px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 20px;
    color: rgba(31, 29, 29, 0.842);
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    transform: translateY(-5px);
    color: black;
}
.btn{
    display: block;
    margin: 40px auto;
    margin-left: 10px;
    width: fit-content;
    border: 1px solid black;
    padding: 10px 60px;
    border-radius: 6px;
    text-decoration: none;
    color: black;
    transition: background 0.5s transform 0.5s;
}
.btn:hover{
    background: rgba(25, 25, 25, 0.426);
    color: black;
}
.btn.btn2{
    display: inline-block;
    background: rgba(25, 25, 25, 0.426);
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: rgba(25, 25, 25, 0.426);
    padding: 15px;
    margin: 15px 0;
    color: black;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid ;
}
input::placeholder{
    color: rgba(0, 0, 0, 0.359);
}
textarea::placeholder{
    color: rgba(0, 0, 0, 0.359);
}
form .btn2{
    padding: 14px 60px;
    margin-top: 20px;
    cursor: pointer;
}
.copywrite{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: rgba(0, 0, 0, 0.359);
    font-weight: 400;
    margin-top: 20px;
    color: black;
}
nav .fa-solid{
    display: none;
}
/* -------------css for small screens------------- */
@media only screen and (max-width: 600px){
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    .header-text h1 span{
        font-size: 50px;
    }

    nav .fa-solid{
        display: block;
        color: white;
        font-size: 20px;
    }
    nav ul{
        background: black;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 600px;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 20px;
        
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    nav ul li a{
        color: white;
    }
    .ad .fa-solid{
        color: black;
    }
    .services-list div{
        padding: 40px;
        margin-left: -100px;
        width: 300px;
    }
    #services h1{
      margin-left: -90px;
    }
    .contact-right{
    flex-basis: 60%;
    margin-left: -30px;
    margin-top: 100px;
    }
}
#msg{
    color: black;
    margin-top: -30px;
    display: block;

}